/* font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  /* max-width: 0%; */
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #000;
}
html {
  font-size: 62.5%;
}

/* Past Launch success Rate */
#past_launch {
  margin-bottom: 2rem;
}
h1,
h2 {
  font-size: 2rem;
  margin-top: 1em;
  text-decoration: underline rgb(160, 160, 160);
  padding-bottom: 0.8em;
}

h5 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
a {
  font-size: 1.5rem;
  color: #eee;
}
.slide img {
  opacity: 0.9;
}
.total {
  color: rgb(155, 218, 179);
  font-weight: bold;
  font-size: 1.6rem;
}
.chart-container {
  max-width: 65vw;
  max-height: 40vh;
  text-align: center;
}
/* Upcoming Launches */
.timeline {
  margin: 0 auto;
}
.upcoming-mission-name {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 700;
}
.upcoming-mission-date {
  text-align: center;
  font-size: 1.4rem;
  padding: 0.5rem;
}
.iconDiv {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  border: 2px solid rgb(156, 226, 194);
  border-radius: 100%;
  background-color: #000;
}
.iconDiv:hover {
  transition: 0.1s ease-in-out;
  border: 4px solid rgb(226, 245, 237);
  background-color: rgb(83, 104, 95);
}
.fa-space-shuttle {
  font-size: 3em;
  margin: auto;
  color: rgb(255, 255, 255);
}
footer {
  font-size: 1.6rem;
  margin-top: 2rem;
  background-color: rgb(10, 10, 10);
  max-width: 100%;
  height: 10%;
}
/* ICONS */
.fab {
  font-size: 2rem;
}
.fa-facebook-f:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #1da1f2;
}
.fa-flickr:hover {
  color: #ff0084;
}
.fa-instagram:hover {
  color: #d6249f;
}
.fa-github:hover {
  color: #4078c0;
}
.fab,
.elon {
  font-size: 2.5rem;
  width: 25px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }
  h1,
  h2 {
    font-size: 3rem;
    margin-top: 1em;
  }

  .fab,
  .elon {
    font-size: 3.5rem;
    width: 30px;
  }
  .chart-container {
    min-width: 60vw;
    min-height: 50vh;
    text-align: center;
  }

  .fa-space-shuttle {
    font-size: 5.5rem;
    margin: auto;
  }
  .upcoming-mission-name {
    font-size: 3rem;
  }
  .upcoming-mission-date {
    font-size: 2rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    width: 100%;
  }
  .main {
    width: 90%;
    margin: 0 auto;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
