/* font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-width: 70%;
  color: rgb(255, 255, 255);
  background-color: #000;
}
html {
  font-size: 62.5%;
}

/* Past Launch success Rate */
#past_launch {
  /* background-color: lightgray; */
  position: relative;
  margin-bottom: 4rem;
  /* font-size: 4rem; */
}
h1,
h2 {
  font-size: 3.5rem;
  margin-top: 1em;
}
h5 {
  color: #fff;
  font-size: 2rem;
}
a {
  font-size: 1em;
  color: #eee;
}
.chart-container {
  max-width: 80vw;
  max-height: 60vh;
  text-align: center;
  font-size: 2.4em;
}

/* Upcoming Launches */
.timeline {
  /* position: relative; */
  margin: 0 auto;
}
.upcoming-mission-name {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 700;
}
.upcoming-mission-date {
  text-align: center;
  font-size: 1.4rem;
  padding: 0.5rem;
}
.iconDiv {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.fa-space-shuttle {
  font-size: 3em;
  margin: auto;
}
footer {
  font-size: 1.6rem;
  margin-top: 3rem;
  background-color: rgb(10, 10, 10);
  min-width: 100%;
  height: 10%;
}
/* ICONS */
.fab {
  font-size: 2rem;
}
.fa-facebook-f:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #1da1f2;
}
.fa-flickr:hover {
  color: #ff0084;
}
.fa-instagram:hover {
  color: #d6249f;
}
.fa-github:hover {
  color: #4078c0;
}
.fab,
.elon {
  font-size: 2.5rem;
  width: 25px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .main {
    max-width: 100%;
  }
  .fab,
  .elon {
    font-size: 3.5rem;
    width: 30px;
  }
  .iconDiv {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 100%;
  }

  .fa-space-shuttle {
    font-size: 5.5rem;
    margin: auto;
  }
  .upcoming-mission-name {
    font-size: 3rem;
  }
  .upcoming-mission-date {
    font-size: 2rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main {
    min-width: 100%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    width: 100%;
  }
  .main {
    width: 90%;
    margin: 0 auto;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
