/* font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Raleway", sans-serif;
  min-width: 70%;
  width: 100%;
}
/* HEADER */
.main {
  overflow: hidden;
}
header {
  position: relative;
  z-index: 100;
  max-width: 100%;
  /* margin: 0 auto; */
}
.navbar {
  margin: 0 auto;
}
.nav_links {
  position: relative;
  right: 0.5em;
  top: 0em;
  padding-left: 0;
  list-style-type: none;
  max-width: 100%;
}
.nav_links li a {
  color: #fff;
  list-style: none;
  font-size: 1.9rem;
}
.nav_links a:hover {
  color: #d7d7d7;
  text-decoration: underline;
  transition: 2s ease;
}
.dropdown-menu {
  background-color: transparent;
  border: none;
}
.dropdown-menu li a {
  padding-top: 0rem;
  font-size: 2em;
  text-overflow: clip;
}
/* resize */
/* Recent Lauch*/
.star {
  background-image: url(/img/Starlink1.jpg);
  background-attachment: fixed;
  background-position: bottom center;
  opacity: 0.8;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
  margin-bottom: 4rem;
  max-width: 100%;
  min-height: 100vh;
}
.source a {
  position: absolute;
  bottom: 15em;
  text-decoration: overline;
  color: #d7d7d7;
}

#recent {
  position: relative;
  z-index: 1;
  overflow-wrap: inherit;
}
.recent-feature {
  position: absolute;
  left: 2em;
  top: 30%;
  max-width: 70%;
  min-height: 30%;
  color: #fff;
}
.recent-feature {
  animation-name: recent;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
@keyframes recent {
  0% {
    opacity: -1;
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    /* transform: ease translateX(-50%); */
  }
}

.launch-detail {
  font-size: 1.7ch;
  text-align: left;
  background-color: transparent;
  border: none;
  width: 80vw;
}
.det-btn {
  margin-top: 0.3rem;
  border-radius: 6%;
  text-align: center;
  transition: ease 0.2s;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 2rem;
}
.launch-head {
  font-size: 3ch;
  opacity: 0.6;
}
.mission-name {
  font-size: 3.5rem;
  font-weight: bold;
}
.hidden {
  visibility: hidden;
}
/* resize */
.fa-space-shuttle {
  color: #fff;
  font-size: 9rem;
  border: 2px solid rgb(8, 65, 255);
  border-radius: 50% 50%;
  padding: 2.3rem 1rem;
  margin-top: 1rem;
}
/****MAP****/
#map-section {
  background-image: url(/Img/launch-location.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 4rem;
  opacity: 1;
  max-width: 100vw;
  height: 100%;
}
#map-holder {
  width: 100vw;
  height: 100%;
  opacity: 2;
}

#map {
  background-color: rgb(23, 23, 23);
  /* width: 300px; */
  max-width: 95vw;
  height: 400px;
  border: 2px solid black;
  margin: 0 auto;
  opacity: 0.9;
}
footer {
  width: 100%;
  height: 10%;
}
/* ICONS */
.fa-facebook-f:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #1da1f2;
}
.fa-flickr:hover {
  color: #ff0084;
}
.fa-instagram:hover {
  color: #d6249f;
}
.fa-github:hover {
  color: #4078c0;
}
.elon {
  width: 30px;
}
/* MEDIA QUARIES */
/* // Small devices (landscape phones, 576px and up) */
@media all and (min-width: 576px) {
  .main {
    max-width: 100%;
  }

  .nav_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    padding-top: 1rem;
  }
  .nav_links li {
    text-align: center;
    font-size: 2ch;
    text-decoration: none;
  }
  .nav_links li,
  a {
    display: inline;
    font-size: 2rem;
    color: #fff;
  }

  .navbar-toggler {
    /* display: block; */
    font-size: 1.5rem;
    margin-right: auto;
  }
  .navbar-toggler:hover {
    box-shadow: 1px 3px 3px 1px;
  }

  .details {
    width: 50vw;
    font-size: 2.7ch;
  }
  .det-btn {
    font-size: 1.8rem;
    background-color: transparent;
    border: 2px solid #fff;
  }
  .launch-head {
    font-size: 3ch;
    opacity: 0.8;
  }
  .mission-name {
    font-size: 4rem;
    font-weight: bold;
  }
  #map-container {
    width: 50%;
    height: 50%;
    min-width: 100%;
    /* display: block; */
  }

  #map {
    /* min-height: 100%; */
    height: 500px;
    max-width: 60vw;
    /* max-width: 60em; */
  }
  .fab {
    font-size: 2.5rem;
  }
  .copyRight {
    font-size: 2rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav_links li a {
    margin: 0 auto;
    padding-left: 2.3rem;
    font-size: 2rem;
  }
  .mission-name {
    font-size: 4rem;
    text-transform: uppercase;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .nav_links li {
    align-content: center;
    padding-right: 2.7em;
  }
  .nav_links li a {
    font-size: 1.5em;
    margin: 0 auto;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    width: 100%;
  }
}
